<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the repository of builds for members of the Crimson Hydra Mercenary Corporation also known as the Canadian Home Mortgage Company.</p>
    </div>
</div>