// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('Video-Games-pic.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.col-ed {
	background-image: url(image_path('Puprle_Corvettes.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.col-mwo {
	background-image: url(image_path('Dark_Corvettes.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}